<a href="https://colab.research.google.com/github/janhavi-lab/heart_fail/blob/main/heart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv('/content/heart_failure_clinical_records_dataset.csv')

In [ ]:
dataset

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [ ]:
dataset.count()

anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
time                        299
DEATH_EVENT                 299
dtype: int64

In [ ]:
dataset.isnull().sum()

anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   anaemia                   299 non-null    int64
 1   creatinine_phosphokinase  299 non-null    int64
 2   diabetes                  299 non-null    int64
 3   ejection_fraction         299 non-null    int64
 4   high_blood_pressure       299 non-null    int64
 5   platelets                 299 non-null    float64
 6   serum_creatinine          299 non-null    float64
 7   serum_sodium              299 non-null    int64
 8   sex                       299 non-null    int64
 9   smoking                   299 non-null    int64
 10  time                      299 non-null    int64
 11  DEATH_EVENT               299 non-null    int64
dtypes: float64(2), int64(10)
memory usage: 28.2 KB

In [ ]:
dataset['diabetes'].fillna(dataset['diabetes'].mean(),inplace=True)

/tmp/ipython-input-13-125015552.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['diabetes'].fillna(dataset['diabetes'].mean(),inplace=True)

In [ ]:
dataset.isnull().sum()

anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [ ]:
dataset = dataset.dropna(how='any')

In [ ]:
dataset

,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...
294,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,0,196,0,45,0,395000.00,1.6,136,1,1,285,0